/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO */
body {
    height: 100vh;
    background: linear-gradient(135deg, #121aa5, #000108);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* QUADRADO ÚNICO */
.container {
    background: #fff;
    width: 330px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* TÍTULO */
#titulo {
    text-align: center;
    color: #4e54c8;
    font-size: 26px;
    margin-bottom: 25px;
}

/* INPUTS */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

input:focus {
    border-color: #4e54c8;
}

/* BOTÃO */
button {
    width: 100%;
    padding: 12px;
    background: #4e54c8;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #3c40a4;
}

/* LINK */
a {
    display: block;
    margin-top: 12px;
    text-align: center;
    color: #4e54c8;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
